$background_color: #18191a;
$font_family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
$secondary_color: #606770;
$nav_color: #242526;
$input_nav_color: #3a3b3c;
$active_blue: #2d88ff;
$secondary_text_color: #b0b3b8;
