@import "config";

:root {
  --input-color: red;
}

body {
  background-color: $background_color;
  font-family: $font_family;
}

.header_row {
  background: $nav_color;
  border-bottom: 0.3px solid #393A3B;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  input {
    background-color: $input_nav_color;
    border: none;
    height: 40px;
    margin: 7px;
    border-radius: 50px;
    padding: 7px;
    width: 240px;
  }

  i {
    position: absolute;
    padding: 12px;
    padding-left: 20px;
    min-width: 40px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 24px;
  }

  li {
    display: list-item;
    float: left;
    width: 111.6px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
  }

  .icon {
    color: #95979b;
    font-size: 18px;
    font-weight: bold;
  }

  ::placeholder {
    font-size: 0.9375rem;
    font-family: inherit;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-right: 16px;
    padding-left: 36px;
    color: #95979b;
    touch-action: manipulation;
    font-weight: normal;
  }

  .facebook_logo {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    display: inline;
  }

  .active {
    transform-origin: center bottom;
    border-bottom: 3px solid $active_blue;
    text-align: center;
    padding: 0px;
    margin: 0px;
    top: 1px;
    border-radius: 2px;
  }
  .home_icon {
    margin-top: 13px;
    margin-bottom: 10px;
  }

  ._icon {
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .notification {
    // background-color: #555;
    color: white;
    text-decoration: none;
    // padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification .badge {
    position: absolute;
    top: 3px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #F02849;
    color: white;
  }
  .notification .badge-two {
    position: absolute;
    top: -6px;
    font-size: 12px;
    right: -14px;
    padding: 0px 6px;
    border-radius: 50%;
    background: #F02849;
    color: white;
  }
  .hover:hover {
    background: $input_nav_color;
    border-radius: 10px;
  }

  .profileDetails {
    cursor: pointer;
    margin-top: 13px;
    display: inline-block;

    h3 {
      font-weight: 600;
      font-family: inherit;
      font-size: 0.9375rem;
      color: $secondary_text_color;
      display: inline;
      padding-left: 5px;
    }

    &__avatar {
      height: 30px;
      border-radius: 100%;
      display: inline;
      padding: 2px;
    }

    // :hover {
    //   background: red;
    // }
  }

  .fastIcons {
    height: 37px;
    width: 37px;
    background-color: $input_nav_color;
    border-radius: 50%;
    margin-top: 8px;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 6px;

    &__icon {
      color: #e4e6eb;
      padding-left: 10px;
      padding-top: 9px;

      &__image {
        padding-left: 8px;
        padding-top: 8px;
      }
    }

    &__menu{
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/wvSU1A_lBfe.png?_nc_eui2=AeEsi5qLtQt1lrOSOnlXS4go8Wj6a0k6zA7xaPprSTrMDi-cT2sStzBoDoixeySJVRmuSD0Db-nQtq1xtH9e3CrK);
        background-position: -168px -107px;
        background-size: auto;
        width: 20px;
        height: 20px;
      -webkit-filter: invert(80%);
        background-repeat: no-repeat;
        display: inline-block;
    }
  }
  .fastIcons:hover {
    background-color: #4b4c4f;
  }
}

.aside_left {
  // overflow-y:auto;
  // position: fixed;
  height: 100%;
  width: 22%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 60px;
  margin-left: 13px;

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
  }

  li {
    min-width: 100%;
  }

  hr {
    padding: 0px;
    margin: 0px;
    height: 1.3px;
    margin-top: 7px;
    color: $secondary_color;
  }

  h2 {
    font-family: inherit;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: $secondary_text_color;
    font-size: 1.0625rem;
    line-height: 1.1765;
  }

  &__buttonSpan {
    color: $secondary_text_color;
    font-size: 13px;
    padding: 0px;
    margin-top: 0px;
    line-height: 0.3px;
    font-weight: normal;
  }

  .myBtn {
    outline: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.95rem;
    min-height: 30px;
    text-align: left;
    color: #fff;
    line-height: 30px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
    font-family: CW BR Firma, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    transition-property: background-color, opacity, color, transform, box-shadow;
    transition-timing-function: ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform-style: preserve-3d;
    will-change: background-color, opacity, color, transform, box-shadow;

    h3 {
      font-weight: 600;
      font-family: inherit;
      font-size: 0.9375rem;
      color: #e4e6eb;
      display: inline;
      line-height: 1.3333;
      padding-left: 5px;
    }

    &__avatar {
      height: 32px;
      width: 32px;
      border-radius: 100%;
      display: inline;
      padding: 2px;
      margin-right: 3px;
    }
  }
  .myBtn:hover {
    background-color: $input_nav_color;
  }
}

.aside_left:hover {
  overflow-y: auto;
}

.aside_left::-webkit-scrollbar {
  width: 6px;
}

.aside_left::-webkit-scrollbar-track {
  background: none;
  margin-top: 60px !important;
  border-radius: 10px;
}

.aside_left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $input_nav_color;
}

.home {
  hr {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    height: 1.4px;
    color: #fff;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
  }
  li {
    display: inline;
    margin: 4px;
    color: #8a8d91;
    font-weight: 600;
    padding: 9px;
    cursor: pointer;
  }
  li:hover {
    background-color: #303031;
    border-radius: 25px;
  }
  .active {
    color: #2d88ff;
    background-color: #1b2431;
    border-radius: 25px;
  }
  .filter_icon {
    background-color: #303031;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin: 0;
    color: #8a8d91;
    padding: 10px;
  }
  .filter_icon:hover {
    background-color: $input_nav_color;
  }
}

.storyReel {
  padding: 10px 0;
  display: flex;

  h4 {
    position: absolute;
    bottom: 21px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 600;
    color: white;
  }

  h3 {
    position: absolute;
    bottom: 2px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 600;
    color: white;
  }

  &__avatar {
    margin: 10px;
    border: 2px solid $active_blue;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
  }

  &__bg {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
  }

  &__bg:hover {
    transform: scale(1.07);
    background-color: red;
  }
}
.post {
  background: $nav_color;
  margin: 20px;
  border-radius: 10px;

  hr {
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 20px;
    height: 0.6px;
    margin-right: 20px;
    color: #95979b;
  }

  input {
    background-color: $input_nav_color;
    border: none;
    height: 40px;
    margin: 7px;
    border-radius: 50px;
    padding: 7px;
    width: 440px;
  }

  ::placeholder {
    font-size: 0.9375rem;
    font-family: inherit;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-right: 18px;
    padding-left: 10px;
    color: #95979b;
    touch-action: manipulation;
    font-weight: normal;
  }

  .avatar {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    display: inline;
    border-radius: 100px;
  }

  .postActions {
    cursor: pointer;
    &__icon {
      background-size: auto;
      margin-bottom: 0px;
      margin-left: 0px;
      margin: 10px;
      margin-right: 10px;
      width: 34px;
      height: 26px;
      background-repeat: no-repeat;
      display: inline-block;
    }
    &__icon_text {
      font-weight: 600;
      font-size: 0.9375rem;
      color: #95979b;
      line-height: 1.3333;
      display: inline-block;
    }
  }
  // .postActions:hover{
  //   background-color: $input_nav_color;
  //   border-radius: 10px;
  // }
}

.rooms {
  background: $nav_color;
  margin: 20px;
  border-radius: 10px;

  .myBtn {
    outline: 0;
    background-color: transparent;
    border: 1px solid #4599ff;
    margin: 10px;
    //border-radius: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    // width: 100%;
    padding-left: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.95rem;
    min-height: 30px;
    text-align: left;
    color: #fff;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
    font-family: CW BR Firma, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    transition-property: background-color, opacity, color, transform, box-shadow;
    transition-timing-function: ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform-style: preserve-3d;
    will-change: background-color, opacity, color, transform, box-shadow;

    h3 {
      font-weight: 600;
      font-family: inherit;
      font-size: 0.9375rem;
      color: #4599ff;
      display: inline;
      line-height: 1.3333;
      padding-left: 5px;
    }

    &__avatar {
      background-position: 0 -222px;
      background-size: auto;
      width: 25px;
      height: 12px;
      margin-left: 30px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }
  .myBtn:hover {
    background-color: $input_nav_color;
  }

  .profileDetails {
    cursor: pointer;
    margin-top: 8px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;

    &__avatar {
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
      display: inline;
      border-radius: 100px;
      object-fit: cover;
    }

    .icon-container {
      width: 45px;
      height: 40px;
      position: relative;
    }
    
    
    .status-circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #31A24C;
      border: 2px solid #242526;
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }
}

.feed {
  background: $nav_color;
  margin: 20px;
  border-radius: 10px;
  color: #e4e6eb;

  &__profile_row {
    padding: 10px;
    .hamburger_button {
      background: none;
      border: none;
      border-radius: 100%;
      padding: 0;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      margin: 0;
      // text-align: center;
      // color: #a8abaf;
    }

    .hamburger_button:hover {
      background: $input_nav_color;
    }
    .hamburger {
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yo/r/chOa35vvXyK.png?_nc_eui2=AeHfFtzk8SG3NqdrY6oWOHvJhEOYVch0rIKEQ5hVyHSsggUZO6FqJYnMiLI2q4Fspw0vE6l92Ji4QVryK4RNL9eh);
      background-position: 0px -540px;
      background-size: auto;
      width: 20px;
      height: 20px;
      -webkit-filter: invert(50%);
      // padding-left: 15px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }
  &__avatar {
    width: 40px;
    height: 40px;
    display: inline;
    margin-right: 15px;
    border-radius: 100px;
    object-fit: cover;
  }
  &__name {
    color: #e4e6eb;
    font-weight: 600;
    padding: 0px;
    font-size: 15px;
    margin: 0px;
    font-family: inherit;
  }
  &__time {
    color: #a8abaf;
    font-weight: 400;
    padding: 0px;
    font-size: 13px;
    margin: 0px;
    font-family: inherit;
  }

  &__public_icon {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/ZVXgBVYm-iS.png?_nc_eui2=AeHsFt1eLE91hoB1hfcJ3hz6ZzFnT4urujBnMWdPi6u6MO2rmJXYBoZKTtrWM5z8ZPmNtLywAGaAd3bvbL9avTgY);
    background-position: 0px -649px;
    background-size: auto;
    width: 12px;
    margin-left: 8px;
    margin-top: 8px;
    height: 12px;
    -webkit-filter: invert(50%);
    color: red;
    background-repeat: no-repeat;
    display: inline-block;
  }

  &__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  &__actions_number {
    margin: 10px;
    margin-bottom: 0px;
    color: #a8abaf;
    hr {
      padding: 0;
      margin-left: 10px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-top: 6px;
      width: 472px;
    }
  }
  &__actions {
    margin-top: 0px;
    padding-top: 0px;
    margin: 5px;
    color: #a8abaf;
    hr {
      padding: 0;
      margin-left: 17px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-top: 6px;
      width: 470px;
      height: 1px;
    }

    .like {
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/ZVXgBVYm-iS.png?_nc_eui2=AeHsFt1eLE91hoB1hfcJ3hz6ZzFnT4urujBnMWdPi6u6MO2rmJXYBoZKTtrWM5z8ZPmNtLywAGaAd3bvbL9avTgY);
      background-position: 0px -191px;
      background-size: auto;
      -webkit-filter: invert(50%);
      width: 18px;
      margin-right: 50px;
      height: 18px;
      background-repeat: no-repeat;
      display: inline-block;

      span {
        margin-left: 25px;
        font-style: normal;
        -webkit-filter: invert(30%) !important;
        font-weight: bold;
      }
    }

    .comment {
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/ZVXgBVYm-iS.png?_nc_eui2=AeHsFt1eLE91hoB1hfcJ3hz6ZzFnT4urujBnMWdPi6u6MO2rmJXYBoZKTtrWM5z8ZPmNtLywAGaAd3bvbL9avTgY);
      background-position: 0px -153px;
      background-size: auto;
      -webkit-filter: invert(50%);
      width: 18px;
      margin-right: 80px;
      height: 18px;
      background-repeat: no-repeat;
      display: inline-block;

      span {
        margin-left: 25px;
        font-style: normal;
        -webkit-filter: invert(30%) !important;
        font-weight: bold;
      }

     
    }

    .share {
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/ZVXgBVYm-iS.png?_nc_eui2=AeHsFt1eLE91hoB1hfcJ3hz6ZzFnT4urujBnMWdPi6u6MO2rmJXYBoZKTtrWM5z8ZPmNtLywAGaAd3bvbL9avTgY);
      background-position: 0px -210px;
      background-size: auto;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      margin-right: 50px;
      -webkit-filter: invert(50%);
      display: inline-block;
      span {
        margin-left: 25px;
        font-style: normal;
        -webkit-filter: invert(30%) !important;
        font-weight: bold;
      }
    }
    .button {
      background: none;
      border: none;
      color: #a8abaf;
      font-size: 16px;
      font-weight: 600;
      width: 100%;
      text-align: center;
    }

    .button:hover {
      background: $input_nav_color;
    }
  }
  .comment_section {
    margin: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    h3 {
      color: #a8abaf;
      font-size: 16px;
      font-weight: 500;
    }
    h6{
      font-size: 12px;
      color: $secondary_text_color;
      font-weight: bold;
    }
    span{
      font-weight: normal;
    }
    input {
      background-color: $input_nav_color;
      border: none;
      height: 40px;
      margin: 7px;
      border-radius: 50px;
      padding: 7px;
      width: 100%;
    }
    .icon {
      color: #95979b;
      font-size: 18px;
      font-weight: bold;
    }
    
    i {
      position: absolute;
      padding: 12px;
      padding-left: 20px;
      min-width: 40px;
      float: right;
      text-align: right;
    }
  

    &__profile__avatar {
      height: 35px;
      border-radius: 100%;
      width: 35px;
      object-fit: cover;
      cursor: pointer;
      display: inline-block;
    }
    .icon-container {
      width: 40px;
      height: 35px;
      margin-top: 10px;
      position: relative;
    }
    
    
    .status-circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #31A24C;
      border: 2px solid #242526;
      bottom: 0;
      right: 0;
      position: absolute;
    }


    .comment_bg {
      background: $input_nav_color;
      width: auto;
      padding: 10px;
      border-radius: 30px;
      display: inline-block;
    }

    &__avatar {
      width: 30px;
      height: 30px;
      display: inline;
      margin-right: 15px;
      border-radius: 100px;
      object-fit: cover;
    }
    &__name {
      color: #e4e6eb;
      font-weight: 600;
      padding: 0px;
      font-size: 13px;
      margin: 0px;
      font-family: inherit;
    }
    &__comment {
      color: #a8abaf;
      font-weight: 400;
      padding: 0px;
      font-size: 16px;
      margin: 0px;
      font-family: inherit;
    }
  }
}


.info{
  color: #e4e6eb;
  margin-top: 25px;
  margin-left: 37px;
  
  &__birthdays{
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    background-color: #242526;
    width: 100%;

    h6{
      font-size: 15px;
      font-weight: bold;
    }
    img{
      margin-right: 10px;
    }
    li{
      list-style: none;
      margin-top: 15px;
      padding: 0;
      font-size: 14px;
      cursor: pointer;
      height: 35px;
      padding: 5px;
      transition: transform 100ms ease-in;
    }
    li:hover{
      background-color: $input_nav_color;
      border-radius: 10px;
      transform: scale(0.97);
      padding: 5px;
    }
    ul{
      padding: 0;
      margin: 0;
    }
  }
  &__sponsored{
    height: 100%;
    width: 100%;

    h6{
      padding: 0;
      font-size: 1.0625rem;
      font-weight: 600;
      color: #b0b3b8;
    }
    .info__sponsored__hover{
      padding: 10px 5px 10px 0px;
    }
    .info__sponsored__hover:hover{
      background-color: $input_nav_color;
      border-radius: 10px;
      // padding: 10px;
      // margin: 0px;
      cursor: pointer;
    }
    span{
      text-align: center;
      font-size: .9375rem;
      color: #e4e6eb;
      font-weight: 500;
    }
    a{
      display: block;
      color: #e4e6eb;
    }
  } 

  &__contacts{
      h6{
        padding: 0;
        font-size: 1.0625rem;
        font-weight: 600;
        color: #b0b3b8;
      }
  }
}